* {
  margin: 20;
  padding: 20;
}

body {
  background: whitesmoke;
  margin: 0;
  margin-bottom: 1000px;
}

.body-section-wrapper {
  display: flex;
}

.topbar {
  display: flex;
  width: 100%;
  background-color: black;
}

.topbar p {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 5px;
}

.hero-image,
.info-leb {
  flex-grow: 1;
}

.hero-section-wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.hero-image {
  padding-bottom: 9vh;
}

.hero-image img {
  padding-top: 10%;
  padding-left: 5%;
  stroke-width: 100px;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  background: radial-gradient(50% 50% at 50% 50%, #fa7f7f 0%, #fff 71%);
}

.name-info {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: auto;
  margin-right: 5%;
}

.norbeld {
  margin: 0;
  margin-bottom: 5%;
  color: #292d32;
  font-family: "Roboto Flex";
  font-size: 112px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16.8px;
}

.subbox {
  background: #f8f9fa;
  stroke: #292d32;
  stroke-width: 10px;
  box-shadow: 0px 9px 20.3px 0px rgba(0, 0, 0, 0.25);
  padding-top: 20px;
  padding-bottom: 20px;
}

.info {
  color: #343a40;
  font-family: "Roboto Flex";
  font-size: 26px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 13px;
  margin: 15px;
}

/* NAVBAR */

.navbar-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2px;
  height: 20%;
}

.navbar {
  width: 40%;
  height: 100px;
  background: red;
  border-radius: 20px;
  background: #f8f9fa;
  box-shadow: 0px 9px 20.3px 0px rgba(0, 0, 0, 0.25);
}

.navbar-item {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-button svg {
  width: 70px;
  height: 70px;
}

.navbar-button {
  display: flex;

  padding: 10px;
  border-radius: 20%; /* To make the button round */
}
